{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br><br>
<style>
    .zoom {

        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
</style>
    <br>
    <br>

    <br><center>
<div class="col-md-2">
</div><div class="col-md-8">
    <form action="{{ path('rech_rdv') }}">
        <input type="text" name="search" placeholder="Recherche rendez vous??" class="form-control">
    </form>

    <hr>
        <h1>Vous avez {{ rdv |length }} Rendez-vous</h1>

    </div>
    <div class="col-md-2"></div>
    </div>
</center>

    <div align="left" class="container blog-holder">
    <div class="row">

    {% for rendezVous in pagination  if rendezVous.idVet==app.user.id %}

                    <div class="col-md-4 zoom " style="height: 550px">

                                <a   href="{{ path('r_show',{'id':rendezVous.id}) }}">
                                <div  class="post-315 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-overnight tag-prices">
                                    <img src="{{ asset('rdvupload/'~rendezVous.photoa) }}" height="200px">
                                    <h2><span>{{ rendezVous.date|date('Y-m-d') }}</span></h2>
                                    <p class="post-info">
                                        {{ rendezVous.heure|date('H:i') }} <span>|</span>
                                        Par <strong>{{ rendezVous.nom }}</strong> <span>|</span>
                                        {{ rendezVous.email }}
                                    </p>
                                    <p class="post-img-wrap">

                                    <div class="col-md-6" style="font-size: xx-large"> <center><a  href="tel:{{ rendezVous.num }}"  align="left"><i class="fa fa-phone"></i>      &emsp;&emsp;&emsp;{{ rendezVous.num }}</a></center></div>
                                    <div class="col-md-6" style="font-size: xx-large"><p align="left"><i class="fa fa-paw"></i>      &emsp;&emsp;&emsp;{{ rendezVous.typea }}</p></div>

                            </div>
                                </a>
                                </div>

        {% endfor %}

    </div>
    </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
