{% extends 'base.html.twig' %}

{% block body %}

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
    <div align="left" class="container blog-holder">
        <div class="row">
            <h1></h1>
                <div class="col-md-12 posts">
                <div class="row">

                    <div class="col-md-12">
                        <div class="post-315 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-overnight tag-prices">
                            <h2><span>{{ rendezVous.date|date('Y-m-d') }}</span></h2>
                            <p class="post-info">
                                {{ rendezVous.heure|date('H:i') }} <span>|</span>
                                Par <strong>{{ rendezVous.nom }}</strong> <span>|</span>
                                {{ rendezVous.email }}
                                  </p>

                            <p class="post-img-wrap">
                                <img width="500" height="278" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" src="{{ asset('rdvupload/'~rendezVous.photoa) }}" srcset="{{ asset('rdvupload/'~rendezVous.photoa) }} 848w, {{ asset('rdvupload/'~rendezVous.photoa) }} 300w, {{ asset('rdvupload/'~rendezVous.photoa) }} 768w, {{ asset('rdvupload/'~rendezVous.photoa) }} 374w, {{ asset('rdvupload/'~rendezVous.photoa) }} 360w" sizes="(max-width: 848px) 100vw, 848px"> </p>


                            <div class="horizontal-tab product-tab">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab" style="height: 30px;">Numero de patient</a></li>
                                    <li><a href="#tab2" data-toggle="tab" style="height: 30px;">Animal</a></li>
                                {% if rendezVous.maladie!="" %}
                                    <li><a href="#tab3" data-toggle="tab" style="height: 30px;">Maladie</a></li>

                                {% endif %}
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab1">
                                        <h3><a  href="tel:{{ rendezVous.num }}"  align="left"><i class="fa fa-phone"></i>      &emsp;&emsp;&emsp;{{ rendezVous.num }}</a></h3>
                                    </div>
                                    <div class="tab-pane fade in" id="tab2">
                                        <h3><i class="fa fa-paw"></i>      &emsp;&emsp;&emsp;{{ rendezVous.typea }}</h3>

                                    </div>
                                    {% if rendezVous.maladie!="" %}
                                        <div class="tab-pane fade in" id="tab3">
                                            <h3><i class="fa fa-user-md"></i> Maladie: </h3>
                                            <p style="word-break:break-all" >{{ rendezVous.maladie }}</p>

                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% if app.user.Fonctionuser==2 %}
                            <a class="btn btn-default btn-green btn-lg btn-block" href="{{ path('r_edit2',{'id':rendezVous.id}) }}">Confirmer le rendez-vous</a>
                            {% if rendezVous.verif ==0%}
                                <form action="{{ path('r_delete', { 'id':rendezVous.id }) }}" method="post">
                                    {{ form_widget(delete_form) }}
                                    <button class="btn btn-default  btn-red btn-lg btn-block" style="border-color: #e52424;color: #e52424"  type="submit">Annuler le rendez-vous</button>

                                </form>

                            {% endif %}
                        {% endif %}                    </div>

                </div>
            </div>

        </div>
    </div>
<br>
{% endblock %}
